# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-619z3.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=XQFYJ225ZMF777I5
sasl.password=cfltmWg0FswP6wx4z7+qMeb2CCcYy87MWxv6bM3a+jcEWAwhFDvdBfKQaflzeKTg

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-7f93276f-fe34-4fb4-8617-0ed677c7e1cb
